[Unit]
Description=Shadowsocks client service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=hjiang
ExecStart=/usr/bin/ss-local -c /etc/shadowsocks.json

[Install]
WantedBy=multi-user.target
